
* {
    margin: 0px;
    font-family: Montserrat;
}


header {
    text-align: center;
    background-color: brown;
    margin-top: 0;
    margin-bottom: 10px;
}

h1 {
    color: #4CAF50; 
}

body {
    margin-top: 0px;
    background-color: #D3D3D3;
}

.text {
    font-size: 22px;
}

.link {
    color: grey;
    font-size: 24px;
    margin: 10px;
    text-decoration: none;

}

a:hover {
    color:#4CAF50;
    text-decoration: none;
}

.baseIMG {
    width: 500px;
}

table {  
    width: 100%;  
    border-collapse: collapse;  
    margin: 0px;  
    font-size: 1em;  
    font-family: 'Arial', sans-serif;  
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);  
    border: 24px;
}  

th {  
    background-color: #4CAF50;  
    color: white;  
    padding: 12px;  
    text-align: left;  
}  

td {  
    padding: 12px;  
    border-bottom: 1px solid #ddd;  
}  

th, td {  
    transition: background-color 0.3s ease;  
}  

footer {
    text-align: center; 
    background-color: #d3d3d6;
    font-family: 'Arial', sans-serif; 
    color:black;
    padding-bottom: 5px;
    margin-top: 15px;
}

.mail {
    color:rebeccapurple;
}

.mail:hover {
    color:#4CAF50;
}