
.menuSection>.menuType {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.menuSection>.menuType>.menuElement{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    background-color: rgb(124, 87, 87);
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
}

.menuElement:hover {
    border: 3px solid tomato;
}

.eatHeader {
    margin: 20px;
    color:brown;    
}

.price {
    font-size: larger;
}

.name {
    font-size: larger;
}

.weight {
    color:gainsboro;
}

.menuPicture {
    width: 100%;
    height: auto;
    border-radius: 35px;
} 

button {
    color: rgb(0, 0, 0);
    background-color: #ccfff0;
    border-radius: 10px;
    width: 180px;   
    height: auto;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

button:hover {  
    background-color: #45a049;
    transform: scale(1.05); 
}  

button:active {  
    background-color: #3e8e41;
}  

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.nav-list a {
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-list a.active {
    color: tomato;
}


@media (max-width: 800px) {

    .menu-items {
        grid-template-columns: repeat(3, 1fr);
    }


    header h1 {
        text-align: center;
    }


    nav {
        justify-content: space-between;
    }
}